{% block header %}
<!DOCTYPE html>
<html>
<body>

<h1>{{ fname | upper }} {{ lname | upper }}</h1>
<h2>{{ offensedate }}</h2>
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
</body>
</html>
{% endblock %}