{% extends "base.njk" %}

{% block body %}
<form action="/third" method="post" name="InstructionsSelection">
    <input type="hidden" name="fname" value="{{ fname }}" />
    <input type="hidden" name="lname" value="{{ lname }}" />
    <input type="hidden" name="offensedate" value="{{ offensedate }}" />
{% if homicide %}
    {% block homicide %}
        {% include "homicide-form.njk" %}
    {% endblock %}
{% endif %}
{% if firstDegreeAssult %}
    {% block firstDegreeAssult %}
        {% include "first-degree-assault-form.njk" %}
    {% endblock %}
{% endif %}
    <input type="submit" value="Submit">
</form>

{% endblock %}
