{% extends "base.njk" %}

{% block body %}
<textarea id="content" cols="60" rows="40">
{% if homicide %}
    {% block homicide %}
        {% include "homicide-result.njk" %}
    {% endblock %}
{% endif %}

{% if firstDegreeAssult %}
    {% block firstDegreeAssult %}
        {% include "first-degree-assault-result.njk" %}
    {% endblock %}
{% endif %}
</textarea>

<div id="elementH"></div>
<button onclick="Export2Docx('content', '{{ fname | upper }}-{{ lname | upper }}-jury-instructions');">Export as .docx</button>
<button onclick="Export2Pdf('content', '{{ fname | upper }}-{{ lname | upper }}-jury-instructions');">Export as .pdf</button>
<script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script src="/public/js/main.js"></script>
{% endblock %}