<input type="hidden" name="first_degree_assult" value="true" />
<h1>FIRST DEGREE ASSAULT</h1>
<div class="form-group">
    <label>Assault executed by:</label><br>
	<div class="form-group">
		<input type="checkbox" name="bullet" value="bullet"> a bullet<br>
		<input type="checkbox" name="shotgun" value="shotgun"> shotgun pellets <br>
		<input type="checkbox" name="missile" value="missile"> a missile<br>
		<input type="checkbox" name="projectile" value="projectile"> a projectile <br>
</div>
<div class="form-group">
	<label>Was there a serious injury?</label>
		<input type="checkbox" name="injury" value="injury">Yes <br>
</div>