<input type="hidden" name="homicide" value="true" />
<h1>HOMICIDE</h1>
<div class="form-group">
    <label>Substances involved?</label><br>
	<input type="checkbox" name="drugs" value="drugs"> Drugs<br>
	<input type="checkbox" name="alcohol" value="alcohol"> Alcohol
</div>