<input type="hidden" name="homicide" value="true" />
<h1>HOMICIDE</h1>
<div class="form-group">
	<label> Deceased First name: <label>
	<input type="text" name="dfname">
</div>
<div class="form-group">
	<label> Deceased Last name: <label>
	<input type="text" name="dlname">
</div>
<div class="form-group">
    <label>Substances involved?</label><br>
	<input type="checkbox" name="drugs" value="true"> Drugs<br>
	<input type="checkbox" name="alcohol" value="true"> Alcohol
</div>